page-import {
    .man{
        color: rgb(31, 185, 231);
    }

    .woman{
        color: rgb(199, 102, 199)
    }

    .name{
        font-size: 14px;
    }

    .id{
        font-size: 10px;
    }

    ion-list{
        ion-icon{
            font-size: 36px;
        }
    }
}
