page-group {
    .options{
        button{
            margin-right: 4px;
            margin-left: 4px;
        }

        ion-icon{
            font-size: 40px;
        }
    }

    ion-list{
        margin-right: 0px;
        margin-left: 0px;
    }
}
