// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$font-family : 'Montserrat';

.no-scroll .scroll-content{
    overflow: auto;
}

.side-menu{
    font-family: $font-family !important;
    font-weight: 700 !important;
    font-size: 24px
}

ion-app.md{
    font-family: 'Montserrat' !important;
    font-size: 1.4rem;
}

ion-label ion-input{
    font-family: $font-family !important;
    font-weight: 600;
    font-size: 16px;
    color: rgb(0, 0, 0)
}

ion-navbar > ion-title {
    font-family: $font-family !important;
    font-weight: 800 !important;
    font-size: 40px;
}
