page-configurations {
    ion-label[fixed] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100px;
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
        width: 200px;
        min-width: 150px;
        max-width: 200px;
    }
}
